<configuration>
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5.2" />
			</system.Web>
	-->
	<system.web>
		<httpHandlers>
			<add verb="*" path="RSS.aspx" type="System.Web.UI.PageHandlerFactory"/>
		</httpHandlers>
		<compilation targetFramework="4.7.2"/></system.web>
	<system.webServer>
		<handlers>
			<remove name="RSSHandler"/>
			<remove name="RSSJandler"/>
		</handlers>
	</system.webServer>
</configuration>
