<configuration>
  <system.web>
    <httpHandlers>
      <add verb="*" path="RSS.aspx" type="System.Web.UI.PageHandlerFactory" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
		<remove name="RSSHandler" />
		<remove name="RSSJandler" />
    </handlers>
  </system.webServer>
</configuration>
