<!-- Comment.Item -->
<table width="100%" id="Table1">
	<tr>
		<td class="Normal" align="left" width="100%">
			<img src="images/icon_comment.gif" alt="comment" align="absMiddle"> [ISCOMMENT]By 
			[HASANONYMOUSURL]<a href="[ANONYMOUSURL]">[/HASANONYMOUSURL][AUTHOR][HASANONYMOUSURL]</a>[/HASANONYMOUSURL][/ISCOMMENT] [ISTRACKBACK]By [TRACKBACKBLOGNAME][/ISTRACKBACK] @ 
			[CREATEDATE] [CREATETIME] [RATING] [DELETE]
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<table cellspacing="1" cellpadding="0" width="100%" align="center" border="0" id="Table2">
				<tr>
					<td class="articleTable">
						<table cellspacing="1" cellpadding="3" width="100%" border="0" id="Table3">
							<tr>
								<td class="articleTextCell">
									<span class="Normal">
					[ISCOMMENT][COMMENT][/ISCOMMENT]
					[ISTRACKBACK]
						Comments from the following blog entry: <a href="[TRACKBACKURL]">[TRACKBACKTITLE]</a>, located at: <a href="[TRACKBACKURL]">[TRACKBACKURL]</a>
					[/ISTRACKBACK]
					[ISPINGBACK]
						Comments from the following blog entry: <a href="[PINGBACKURL]">[PINGBACKURL]</a>
					[/ISPINGBACK]
				</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<hr>
