<!-- Listing.Featured.Item -->
<table cellspacing="1" cellpadding="0" width="100%" align="center" border="0" id="tblArticles1-[MODULEID]-[ARTICLEID]">
	<tr>
		<td class="articleTable">
			<table cellspacing="1" cellpadding="3" width="100%" border="0" id="tblArticles2-[MODULEID]-[ARTICLEID]">
				<tr align="left">
					<td class="featuredTopCell" align="left"><span class="NormalBold">[PUBLISHSTARTDATE]</span></td>
				</tr>
				<tr>
					<td class="articleContentCell">
						<table width="100%" id="tblArticles3-[MODULEID]-[ARTICLEID]">
							<tr>
								<td>[IMAGETHUMB:100]</td>
								<td class="Normal" align="left" width="100%">
									[EDIT] <a href='[ARTICLELINK]' class="articleTitle">[TITLE]</a>
									<br/>
									By [AUTHOR] @ [PUBLISHSTARTTIME] :: [VIEWCOUNT] Views [HASCOMMENTSENABLED]:: <a href="[COMMENTLINK]">
										[COMMENTCOUNT] Comments</a> [/HASCOMMENTSENABLED][HASRATINGSENABLED] :: [RATING][/HASRATINGSENABLED][HASCATEGORIES] :: [CATEGORIES][/HASCATEGORIES]
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<table cellspacing="1" cellpadding="0" width="100%" align="center" border="0" id="tblArticles4-[MODULEID]-[ARTICLEID]">
										<tr>
											<td class="articleTable">
												<table cellspacing="1" cellpadding="3" width="100%" border="0" id="tblArticles5-[MODULEID]-[ARTICLEID]">
													<tr>
														<td class="articleTextCell">
														    <span class="Normal">[HASSUMMARY][SUMMARY][/HASSUMMARY][HASNOSUMMARY][DETAILS:150][/HASNOSUMMARY]</span>
														</td>
													</tr>
													[HASMOREDETAIL:150]
													<tr>
														<td align="left" class="articleContentCell"><a href='[LINK]' class="CommandButton" >Read 
																More..</a></td>
													</tr>
													[/HASMOREDETAIL:150]
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
