<!-- Print.Item -->
<table cellspacing="1" cellpadding="0" width="100%" align="center" border="0" id="Table1">
	<tr>
		<td class="articleTable">
			<table cellspacing="1" cellpadding="3" width="100%" border="0" id="Table2">
				<tr align="left">
					<td class="articleTopCell" align="left"><span class="NormalBold">[PUBLISHSTARTDATE]</span></td>
				</tr>
				<tr>
					<td class="articleContentCell">
						<table width="100%" id="Table3">
							<tr>
								<td>[IMAGE]</td>
								<td class="Normal" align="left" width="100%">
									<span class="articleTitle">[TITLE]</span>
									<br/>
									By [AUTHOR] @ [PUBLISHSTARTTIME] :: [VIEWCOUNT] Views [HASCOMMENTSENABLED]:: 
										[COMMENTCOUNT] Comments [/HASCOMMENTSENABLED][HASRATINGSENABLED] :: [RATING][/HASRATINGSENABLED][HASCATEGORIES] :: [CATEGORIES][/HASCATEGORIES]
								</td>
							</tr>
							<tr>
								<td colspan="3">
									<table cellspacing="1" cellpadding="0" width="100%" align="center" border="0" id="Table4">
										<tr>
											<td class="articleTable">
												<table cellspacing="1" cellpadding="3" width="100%" border="0" id="Table5">
													<tr>
														<td class="articleTextCell"><span class="Normal">[PAGETEXT]</span></td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
