/* News Articles Custom Styles */
.articleTitle { font-size : 14px; font-weight : bolder; color : #006600; }
.articleTable { background-color: black; margin: 0px; }
.articleTopCell { background-color: #336699; color: white; font-weight: bold; padding: 6px; height: 25px; }
.articleTopCell .NormalBold { color: #FFF; }
.articleContentCell { color: black; padding: 6px; background-color: #FEFEFE; }
.articleTextCell { color: black; padding: 6px; background-color: #FFFFCC; }
.articleIconCell { background-color: #D0D0D0; width: 20px; }
.articleFooterCell { color: #FFFFFF; padding: 3px; background-color: #336699; height: 25px; }
.articleFooterCell .NormalBold { color: #FFF; }
.featuredTopCell { background-color: #336699; color: white; font-weight: bold; padding: 6px; height: 25px; }

A.Normal.MenuTop:link {
    text-decoration:    underline;
}

A.Normal.MenuTop:visited  {
    text-decoration:    underline;
}

A.Normal.MenuTop:active   {
    text-decoration:    underline;
}

A.Normal.MenuTop:hover    {
    text-decoration:    underline;
    color: #ff0000;
}

A.Normal.MenuTopSelected:link {
    text-decoration:    underline;
    color: #ff0000;
}

A.Normal.MenuTopSelected:visited  {
    text-decoration:    underline;
    color: #ff0000;
}

A.Normal.MenuTopSelected:active   {
    text-decoration:    underline;
    color: #ff0000;
}

A.Normal.MenuTopSelected:hover    {
    text-decoration:    underline;
    color: #ff0000;
}


/* Photo Area */

.articleImageList li
{
    display: inline;
    float: left;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
}

/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.4.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.4
 * @date November 17, 2007
 * @category jQuery plugin
 * @copyright (c) 2007 Leandro Vieira Pinho (leandrovieira.com)
 * @license CC Attribution-No Derivative Works 2.5 Brazil - http://creativecommons.org/licenses/by-nd/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}

#lightbox-container-image-data-box {
	background-color: #fff;
	margin:0pt auto;
	overflow: auto;
	font-family:Verdana,Helvetica,sans-serif;
	font-size:10px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.4em;
}

#lightbox-container-image-data {
	padding: 0 10px; 
}

#lightbox-container-image-details {
	float:left;
	text-align:left;
	width:70%;
}

#lightbox-container-image-details-caption
{
	font-weight: bold;
}

#lightbox-container-image-details-currentNumber 
{
	clear:left;
	display:block;
}

#lightbox-container-image-details-currentNumber a, lightbox-container-image-details-currentNumber a:hover
{
	border-bottom:medium none;
	color:#151410;
	text-decoration:underline;
}

#lightbox-container-image-details-nav {
	clear:left;
	display:block;
	padding:0pt 0pt 10px;
}

#lightbox-container-image-details-nav a, #lightbox-container-image-details-nav a:hover {
	border-bottom:medium none;
	color:#151410;
	text-decoration:underline;
}

#lightbox-container-image-details-nav-btnPrev
{
	margin:0pt 8px 0pt 0pt;
}
	
#lightbox-image-details-close-btnClose {
	float: right;
}

#lightbox-image-details-close a, #lightbox-image-details-close a:hover {
	border-bottom:medium none;
	color:#151410;
	text-decoration:underline;
}