<item>
    <comments>[COMMENTLINK]</comments> 
    <slash:comments>[COMMENTCOUNT]</slash:comments> 
    <wfw:commentRss>[COMMENTRSS]</wfw:commentRss> 
    <trackback:ping>[TRACKBACKLINK]</trackback:ping> 
    <title>[TITLE]</title> 
    <link>[ARTICLELINK]</link> 
    <description>[DESCRIPTION]</description> 
    <dc:creator>[AUTHOR]</dc:creator> 
    <pubDate>[PUBLISHDATE]</pubDate> 
    <guid isPermaLink="false">[GUID]</guid> 
    [HASENCLOSURE]<enclosure url="[ENCLOSURELINK]" length="[ENCLOSURELENGTH]" type="[ENCLOSURETYPE]" />[/HASENCLOSURE]
</item>
