<!-- Comment.Item -->
<div class="articleComment">
    <div class="articleCommentGravatar"><img src="[GRAVATARURL]?d=wavatar" alt="[AUTHOR]" /></div>
    <div class="articleCommentContent Normal">
        <div class="articleCommentAuthor">
            <a name="Comment[COMMENTID]" href="#Comment[COMMENTID]">#</a> [HASANONYMOUSURL]<a href="[ANONYMOUSURL]">[/HASANONYMOUSURL][AUTHOR][HASANONYMOUSURL]</a>[/HASANONYMOUSURL] [EDIT]
        </div>
        <div class="articleCommentDate">[CREATEDATE] [CREATETIME]</div>
        [COMMENT]
    </div>
</div>
