<div class="article">

    <div class="articleCalendar articleCalendarIcon-[PUBLISHSTARTDATE:MM]">
        <div class="articleCalendarDay">[PUBLISHSTARTDATE:dd]</div>
    </div>
    <div class="articleHeadline"><h1><a href="[ARTICLELINK]">[TITLE]</a></h1></div>
    <div class="articleAuthor Normal"><a href="[AUTHORLINK]">[AUTHOR]</a> posted on [PUBLISHSTARTDATE:MMMM dd, yyyy HH:mm][HASRATING] [RATING][/HASRATING]</div>

    <div class="articleEntry Normal">
        [DETAILS]
    </div>
    
    [HASCATEGORIES] 
    <div class="articleCategories Normal">
        Posted in: [CATEGORIES]
    </div>
    [/HASCATEGORIES]
    
</div>
