<!-- Menu.Item -->
<div class="Normal" align="center">
	[ISSYNDICATIONENABLED]
    <span style="float: right;">
        <a rel="nofollow" href="[RSSLATESTLINK]">
            <img src="Images/rssbutton.gif" alt="25 Latest Articles" style="border-width: 0px;"/>
        </a>
    </span>	
	[/ISSYNDICATIONENABLED] 
	<a href="[CURRENTARTICLESLINK]" class="MenuTop[ISSELECTEDCURRENTARTICLES]Selected[/ISSELECTEDCURRENTARTICLES]">[RESX:CurrentArticles]</a> 
	|
	<a href="[ARCHIVESLINK]" class="MenuTop[ISSELECTEDCATEGORIES]Selected[/ISSELECTEDCATEGORIES]">[RESX:Archives]</a> 
	|
	<a href="[SEARCHLINK]" class="MenuTop[ISSELECTEDSEARCH]Selected[/ISSELECTEDSEARCH]">[RESX:Search]</a> 

	[ISSUBMITTER]
	<br/>
	<a href="[MYARTICLESLINK]" class="MenuTop[ISSELECTEDMYARTICLES]Selected[/ISSELECTEDMYARTICLES]">[RESX:MyArticles]</a> 
	|
	<a href="[SUBMITARTICLELINK]" class="MenuTop[ISSELECTEDSUBMITARTICLE]Selected[/ISSELECTEDSUBMITARTICLE]">[RESX:CreateArticle]</a> 
	[/ISSUBMITTER]	
	[ISAPPROVER]
	|
	<a href="[APPROVEARTICLESLINK]" class="MenuTop[ISSELECTEDAPPROVEARTICLES]Selected[/ISSELECTEDAPPROVEARTICLES]">[RESX:ApproveArticles]</a> 
    [HASCOMMENTSENABLED]
	|
	<a href="[APPROVECOMMENTSLINK]" class="MenuTop[ISSELECTEDAPPROVEARTICLES]Selected[/ISSELECTEDAPPROVEARTICLES]">[RESX:ApproveComments]</a> 
    [/HASCOMMENTSENABLED]
	[/ISAPPROVER]		
	[ISADMIN]
	|
	<a href="[ADMINLINK]" class="MenuTop[ISSELECTEDADMIN]Selected[/ISSELECTEDADMIN]">[RESX:AdminOptions]</a> 
	[/ISADMIN]
</div>

